<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <div>
                        <img alt="image" class="rounded-circle" src="../assets/img/profile_small.jpg" />
                    </div>
                    <a data-toggle="dropdown" class="dropdown-toggle">
                        <span class="block m-t-xs font-bold text-white">David Williams</span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </a>
                    <div>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item">Profile</a></li>
                            <li><a class="dropdown-item">Contacts</a></li>
                            <li><a class="dropdown-item">Mailbox</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item">Logout</a></li>
                        </ul>
                    </div>

                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a><i class="fa fa-th-large text-white"></i> <span class="nav-label text-white">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Dashboard v.1</a></li>
                    <li><a>Dashboard v.2</a></li>
                    <li><a>Dashboard v.3</a></li>
                    <li><a> Dashboard v.4</a></li>
                    <li><a>Dashboard v.5 </a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-diamond text-white"></i> <span class="nav-label text-white">Layouts</span></a>
            </li>
            <li>
                <a><i class="fa fa-bar-chart-o text-white"></i> <span class="nav-label text-white">Graphs</span><span class="fa arrow text-white"></span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Flot Charts</a></li>
                    <li><a>Morris.js Charts</a></li>
                    <li><a>Rickshaw Charts</a></li>
                    <li><a>Chart.js</a></li>
                    <li><a>Chartist</a></li>
                    <li><a> c3 charts</a></li>
                    <li><a>Peity Charts</a></li>
                    <li><a>Sparkline Charts</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-envelope text-white"></i> <span class="nav-label text-white">Mailbox </span><span class="label label-warning float-right">16/24</span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Inbox</a></li>
                    <li><a>Email view</a></li>
                    <li><a>Compose email</a></li>
                    <li><a>Email templates</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-pie-chart text-white"></i> <span class="nav-label text-white">Metrics</span>  </a>
            </li>
            <li>
                <a><i class="fa fa-flask text-white"></i> <span class="nav-label text-white">Widgets</span></a>
            </li>
            <li>
                <a><i class="fa fa-edit text-white"></i> <span class="nav-label text-white">Forms</span><span class="fa arrow text-white"></span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Basic form</a></li>
                    <li><a>Advanced Plugins</a></li>
                    <li><a>Wizard</a></li>
                    <li><a>File Upload</a></li>
                    <li><a>Text Editor</a></li>
                    <li><a>Autocomplete</a></li>
                    <li><a>Markdown</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-desktop text-white"></i> <span class="nav-label text-white">App Views</span>  <span class="float-right label label-primary">SPECIAL</span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Contacts</a></li>
                    <li><a>Profile</a></li>
                    <li><a>Profile v.2</a></li>
                    <li><a>Contacts v.2</a></li>
                    <li><a>Projects</a></li>
                    <li><a>Project detail</a></li>
                    <li><a>Activity stream</a></li>
                    <li><a>Teams board</a></li>
                    <li><a>Social feed</a></li>
                    <li><a>Clients</a></li>
                    <li><a>Outlook view</a></li>
                    <li><a>Vote list</a></li>
                    <li><a>File manager</a></li>
                    <li><a>Calendar</a></li>
                    <li><a>Issue tracker</a></li>
                    <li><a>Blog</a></li>
                    <li><a>Article</a></li>
                    <li><a>FAQ</a></li>
                    <li><a>Timeline</a></li>
                    <li><a>Pin board</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-files-o text-white"></i> <span class="nav-label text-white">Other Pages</span><span class="fa arrow text-white"></span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a> Search results</a></li>
                    <li><a>Lockscreen</a></li>
                    <li><a>Invoice</a></li>
                    <li><a>Login</a></li>
                    <li><a>Login v.2</a></li>
                    <li><a>Forget password</a></li>
                    <li><a>Register</a></li>
                    <li><a>404 Page</a></li>
                    <li><a>500 Page</a></li>
                    <li><a>Empty page</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-globe text-white"></i> <span class="nav-label text-white">Miscellaneous</span><span class="label label-info float-right">NEW</span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Notification</a></li>
                    <li><a>Nestable list</a></li>
                    <li><a>Agile board</a></li>
                    <li><a>Timeline v.2</a></li>
                    <li><a>Diff</a></li>
                    <li><a>PDF viewer</a></li>
                    <li><a>i18 support</a></li>
                    <li><a>Sweet alert</a></li>
                    <li><a>Idle timer</a></li>
                    <li><a>Truncate</a></li>
                    <li><a>Password meter</a></li>
                    <li><a>Spinners</a></li>
                    <li><a>Spinners usage</a></li>
                    <li><a>Live favicon</a></li>
                    <li><a>Google maps</a></li>
                    <li><a>Datamaps</a></li>
                    <li><a>Social buttons</a></li>
                    <li><a>Code editor</a></li>
                    <li><a>Modal window</a></li>
                    <li><a>Clipboard</a></li>
                    <li><a>Text spinners</a></li>
                    <li><a>Forum view</a></li>
                    <li><a>Validation</a></li>
                    <li><a>Tree view</a></li>
                    <li><a>Loading buttons</a></li>
                    <li><a>Chat view</a></li>
                    <li><a>Masonry</a></li>
                    <li><a>Tour</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-flask text-white"></i> <span class="nav-label text-white">UI Elements</span><span class="fa arrow text-white"></span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Typography</a></li>
                    <li><a>Icons</a></li>
                    <li><a>Draggable Panels</a></li>
                    <li><a>Resizeable Panels</a></li>
                    <li><a>Buttons</a></li>
                    <li><a>Video</a></li>
                    <li><a>Panels</a></li>
                    <li><a>Tabs</a></li>
                    <li><a>Notifications & Tooltips</a></li>
                    <li><a>Helper css classes</a></li>
                    <li><a>Badges, Labels, Progress</a></li>
                </ul>
            </li>

            <li>
                <a><i class="fa fa-laptop text-white"></i> <span class="nav-label text-white">Grid options</span></a>
            </li>
            <li class="active">
                <a><i class="fa fa-table text-white"></i> <span class="nav-label text-white">Tables</span><span class="fa arrow text-white"></span></a>
                <ul class="nav nav-second-level text-white">
                    <li><a>Static Tables</a></li>
                    <li class="active"><a>Data Tables</a></li>
                    <li><a>Foo Tables</a></li>
                    <li><a>jqGrid</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-shopping-cart text-white"></i> <span class="nav-label text-white">E-commerce</span><span class="fa arrow text-white"></span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Products grid</a></li>
                    <li><a>Products list</a></li>
                    <li><a>Product edit</a></li>
                    <li><a>Product detail</a></li>
                    <li><a>Cart</a></li>
                    <li><a>Orders</a></li>
                    <li><a>Credit Card form</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-picture-o text-white"></i> <span class="nav-label text-white">Gallery</span><span class="fa arrow text-white"></span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li><a>Lightbox Gallery</a></li>
                    <li><a>Slick Carousel</a></li>
                    <li><a>Bootstrap Carousel</a></li>

                </ul>
            </li>
            <li>
                <a><i class="fa fa-sitemap text-white"></i> <span class="nav-label text-white">Menu Levels </span><span class="fa arrow text-white"></span></a>
                <ul class="nav nav-second-level collapse text-white">
                    <li>
                        <a>Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a>Third Level Item</a>
                            </li>
                            <li>
                                <a>Third Level Item</a>
                            </li>
                            <li>
                                <a>Third Level Item</a>
                            </li>

                        </ul>
                    </li>
                    <li><a>Second Level Item</a></li>
                    <li>
                        <a>Second Level Item</a></li>
                    <li>
                        <a>Second Level Item</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-magic text-white"></i> <span class="nav-label text-white">CSS Animations </span><span class="label label-info float-right">62</span></a>
            </li>
            <li class="landing_link">
                <a target="_blank"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning float-right">NEW</span></a>
            </li>
            <li class="special_link">
                <a><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>
            </li>
        </ul>

    </div>
</nav>